/** @format */
/* 
/* Box sizing rules */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

@font-face {
	font-family: "poppins";
	src: url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "poppins";
	src: url(./assets/fonts/Poppins-Light.ttf) format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "poppins";
	src: url(./assets/fonts/Poppins-SemiBold.ttf) format("truetype");
	font-weight: 600;
	font-style: normal;
}

:root {
	--clr-red: hsl(0, 78%, 62%);
	--clr-cyan: hsl(180, 62%, 55%);
	--clr-orange: hsl(34, 97%, 64%);
	--clr-blue: hsl(212, 86%, 64%);

	--clr-very-dark-blue: hsl(234, 12%, 34%);
	--clr-grayish-blue: hsl(229, 6%, 66%);
	--clr-very-light-gray: hsl(0, 0%, 98%);
}

body {
	font-family: "poppins", serif;
	text-align: center;
	color: var(--clr-very-dark-blue);
	background: var(--clr-very-light-gray);
	font-size: 15px;
	margin: 50px 0;
	min-height: 100vh;
	min-width: 100vw;
}

.head {
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 100px;
	align-content: center;
}

h1 {
	padding: 0;
	font-weight: 100;
}

h2 {
	margin: 10px;
}

.head p {
	margin: 25px;
}
.cards-container {
	display: flex;
	flex-wrap: nowrap;
	gap: 30px;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	align-content: center;
}

section {
	border-radius: 5px;
	width: 250px;
	background: white;
	box-shadow: 0 0 20px 0px #0000003d;
	padding: 25px;
	text-align: left;
	position: relative;
	box-sizing: border-box;
	height: max-content;
}

.between{
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.section p{
	margin: 10px;
	padding: 10px;
}


.cyan {
	border-top: 3px solid var(--clr-cyan);
}
.red {
	border-top: 3px solid var(--clr-red);
}
.orange {
	border-top: 3px solid var(--clr-orange);
}
.blue {
	border-top: 3px solid var(--clr-blue);
}
